<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<link href="assets/bootstrap.css" rel="stylesheet">

<HTML>
	<HEAD>
		<TITLE>Stanford Dinner</TITLE>
	</HEAD>
 
	<BODY>
		<h1>Dine<h1>
		<h2>Which Dining Hall is the best today?</h2>
		<div class="row">
			<div class="col-sm-4">
				<div class"thumbnail">
					<img src="assets/afdc.jpg">
					<div class="caption">
						<h3>Arrillaga Family Dining Commons</h3>
						<p><h4>Score: +584</h4></p>
						<p>
							<a href="#" class ="btn btn-success" role="button">+</a>
							<a href="#" class ="btn btn-danger" role="button">-</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class"thumbnail">
					<img src="assets/branner.jpg">
					<div class="caption">
						<h3>Branner Dining</h3>
						<p><h4>Score: +7</h4></p>
						<p>
							<a href="#" class ="btn btn-success" role="button">+</a>
							<a href="#" class ="btn btn-danger" role="button">-</a>
						</p>
					</div>
				</div>
			</div>	
			<div class="col-sm-4">
				<div class"thumbnail">
					<img src="assets/flomo.jpg">
					<div class="caption">
						<h3>Florence Moore Dining</h3>
						<p><h4>Score: +4</h4></p>
						<p>
							<a href="#" class ="btn btn-success" role="button">+</a>
							<a href="#" class ="btn btn-danger" role="button">-</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class"thumbnail">
					<img src="assets/lakeside_logo.png">
					<div class="caption">
						<h3>Lakeside Dining</h3>
						<p><h4>Score: -5</h4></p>
						<p>
							<a href="#" class ="btn btn-success" role="button">+</a>
							<a href="#" class ="btn btn-danger" role="button">-</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class"thumbnail">
					<img src="assets/manz.jpg">
					<div class="caption">
						<h3>Manzanita Dining</h3>
						<p><h4>Score: +13</h4></p>
						<p>
							<a href="#" class ="btn btn-success" role="button">+</a>
							<a href="#" class ="btn btn-danger" role="button">-</a>
						</p>
					</div>
				</div>
			</div>	
			<div class="col-sm-4">
				<div class"thumbnail">
					<img src="assets/ricker.jpg">
					<div class="caption">
						<h3>Ricker Dining</h3>
						<p><h4>Score: +8</h4></p>
						<p>
							<a href="#" class ="btn btn-success" role="button">+</a>
							<a href="#" class ="btn btn-danger" role="button">-</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class"thumbnail">
					<img src="assets/stern.jpg">
					<div class="caption">
						<h3>Stern Dining</h3>
						<p><h4>Score: +3</h4></p>
						<p>
							<a href="#" class ="btn btn-success" role="button">+</a>
							<a href="#" class ="btn btn-danger" role="button">-</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class"thumbnail">
					<img src="assets/wilbur.jpg">
					<div class="caption">
						<h3>Wilbur Dining</h3>
						<p><h4>Score: -17</h4></p>
						<p>
							<a href="#" class ="btn btn-success" role="button">+</a>
							<a href="#" class ="btn btn-danger" role="button">-</a>
						</p>
					</div>
				</div>
			</div>	
		</div>
		
	</BODY>
</HTML>